.sectlevel2 {
    padding-left: 0 !important;
}
.sectlevel1 > li > a {
    font-weight: bold;
    font-size: 1.15em;
}
.imageblock .title {
    margin-top: 10px;
}
img {
    box-shadow: 5px 5px 10px #636363;
}
#preamble img {
    box-shadow: none;
}
#preamble p {
    font-size: 1.2em;
    text-align: center;
}
ul.ontology-left-menu-actions {
	margin-top: 45px;
}